venv/
env/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
.installed.cfg
*.egg-info
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
,cover
.hypothesis/
.pytest_cache/
env/
.env
.venv
/.vscode/
.DS_Store
*.sqlite3
__pycache__/
*.log
# Data and large outputs (uncomment if you want to track them)
#donnees/reelles/
#donnees/synthetiques/__pycache__/
*.pyc
.venv/
infrastructure/local_env/.venv/
infrastructure/git_history/
~$*
archives/documents_bureautiques/~$*
*.log
synthetic_outputs/
donnees/synthetiques/exports_script_extraction/
presentation/dashboards_statiques/
archives/zips/CRF Mpox (2).zip
